$sysFontStack: -apple-system, 'Segoe UI', system-ui, Roboto, 'Helvetica Neue', sans-serif !default;
$sysFontStackMono: 'SFMono-Regular', 'SF Mono', 'Ubuntu Mono', Consolas, 'DejaVu Sans Mono', Menlo, monospace !default;
$sysSelectionBackground: #b3d4fc !default;
$sysSelectionColor: null !default;
$baseFontSize: 16px;
$font-stack: 'Open Sans', 'Helvetica Neue', -apple-system, BlinkMacSystemFont,
  sans-serif;
