<!doctype html>
<html lang="en">
<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="theme-color" content="#ffffff">
      <meta name="Description" content="Created by QuynhHP">
      <title>LookShop</title>

      <!--<link rel="manifest" href="%PUBLIC_URL%/manifest.json">-->
      <!--<link rel="shortcut icon" href="%PUBLIC_URL%/logo.ico">-->
</head>

<body>
<noscript>
      Please enable Javascript!
</noscript>
<main>

</main>
</body>
</html>
